{
  "pid": "com.tibco.bw.stat.appnode.76726258-d812-47e3-948a-a8a68ef2b441",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.76726258-d812-47e3-948a-a8a68ef2b441",
      "type": "java.lang.String"
    }
  }
}