{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.c5d136cf-d03c-42e5-9ae9-ba991f2f09de",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}